<div class="container my-4">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Content</th>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="container_todos">
            <% @todos.each do |todo| %>
                <tr id="todos_<%= todo.id %>">
                    <td><%= todo.id %></td>
                    <td><%= todo.todos_content %></td>
                    <td><%= todo.user_id %></td>
                    <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' },
                    class:'button btn-danger', remote: true %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>