toastr.success('Add Todo Content Successfully','<%= @todo.todos_content %>', {timeOut: 1500});
$('#todo_todos_content').val('');
$('#todo_user_id').val('');

<%# location.reload(); %>

$("#container_todos").append(`<tr id="todos_<%= @todo.id %>">
                                <td><input type="checkbox" class="form-check-input"  onclick="checkeduser(<%= @todo.id %>)" id="check_todos_<%= @todo.id %>"></td>
                                <td><%= @todo.id %></td>
                                <td id="todos_content_<%= @todo.id %>"><%= @todo.todos_content %></td>
                                <td><%= @todo.user.email %></td>
                                <td><%= link_to 'Destroy', @todo, method: :delete, data: { confirm: 'Are you sure?' },
                                class:'button btn-danger', remote: true %></td>
                            </tr>`);

$('#todos_<%= @todo.id %>').hide().fadeIn(650);
