<h2 class="text-center my-4">Create Todos</h2>
	<%# create %>
	<div class="container">
		<div class="row">
			<div class="container-50 col-sm-8">
				<%= form_for(@todo, remote: true) do |form| %>
					<div class="my-3">
						<%= form.label :todos_content, class:"label-control" %>
						<%= form.text_field :todos_content, class:"form-control", placeholder:"Add Todos Content...", autocomplete:"off" %>
					</div>
					<%= form.number_field :user_id, value:current_user.id, type: :hidden  %>
					<div class="my-3">
						<%= form.submit class:"button", id: 'button_create_todo' %>
					</div>
				<% end %>
			</div>
			<div class="col-sm-4">
				<div class="my-3">
					<%= form_tag(todos_path, method: :get) do %>
						<%= label_tag :info_id,'Select Show Info User', class:'label-control' %>
						<select name="info_id" class="form-control select_option_info_user">
							<%= k=0; puts k %>
							<option value="0" id="option_user_0">Show All</option>
							<% @users.each do |u| %>
								<%= k=k+1; puts k %>
								<option value="<%= u.id %>" id="option_user_<%= k %>" class="<%= current_user.id == u.id ? 'text-primary' : '' %>"><%= u.email %></option>
							<% end %>
						</select>
						<%= submit_tag 'Change', class:'button my-3', name:'' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<%# create %>

	<%# show todos %>
	<div class="container">
		<%= render 'todos' %>
	</div>
	<%# show todos %>

<%# <%= link_to 'New Todo', new_todo_path %>
